*.jpg
*.png

/Packages
/Packages.meta
/Assets/TextMesh Pro
/Assets/TextMesh Pro.meta
/Assets/UnitySVG
/Assets/UnitySVG.meta
/Assets/Plugins
/Assets/Plugins.meta
/Assets/Oculus
/Assets/Oculus.meta
/Assets/Planetaria/Art
/Assets/Planetaria/Art.meta
/Assets/Planetaria/Procedural
/Assets/Planetaria/Procedural.meta
/LastPlayable/
/LastPlayable.meta
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Material/StarSkybox04.mat
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox041.png
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox042.png
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox043.png
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox044.png
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox045.png
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox046.png

/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Material/StarSkybox04.mat.meta
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox041.png.meta
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox042.png.meta
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox043.png.meta
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox044.png.meta
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox045.png.meta
/Assets/Planetaria/ExampleProjects/DebrisNoirs/Art/Textures/StarSkybox046.png.meta

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*

# Visual Studio cache directory
.vs/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage
